# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r
language: r

dist: xenial
services:
  - xvfb

sudo: false
warnings_are_errors: false # setting this false b/c of rcpp attribute error

env:
  - KERAS_BACKEND="tensorflow"
  - KERAS_IMPLEMENTATION="tensorflow"

addons:
  apt:
    packages:
      - python3
      - libstdc++6

cache:
  packages: true
  directories:
    - $HOME/.keras
    - $HOME/.cache/pip

before_install:
  - tlmgr install index
  - export PACKAGE_NAME=ANTsRNet
  - wget -O travis_helpers.sh http://bit.ly/travis_helpers
  - source travis_helpers.sh
  - rm travis_helpers.sh
  - v8_install ;
  - Rscript -e 'install.packages("rsvd")'
  - Rscript -e 'install.packages("magic")'
  - Rscript -e 'install.packages(c("psych","colormap"))'
  - Rscript -e 'install.packages("RcppEigen")'
  - gh_binary_install  stnava/ITKR ANTsX/ANTsRCore ANTsX/ANTsR


before_script:
#  - pyenv global 3.6
#  - pip install --upgrade pip==9.0.3
  # - pip2.7 install -q --upgrade --ignore-installed --user travis virtualenv
  # - pip2.7 install -q --user setuptools wheel
  # - pip2.7 install -q --upgrade --ignore-installed --user travis keras h5py pyyaml requests Pillow scipy theano tensorflow
  - setup_python 3.6 false;
  - ls ~/virtualenv/python3.6/bin || exit 0 ;
  - source ~/virtualenv/python3.6/bin/activate || exit 0; 
  - install_python_requirements ;
  # - R -e 'tensorflow::install_tensorflow(version = "2.0.0")'

before_cache: Rscript -e 'remotes::install_cran("pkgdown")'
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true

after_success:
    - Rscript -e 'covr::codecov(type = "all", commentDonttest = FALSE)'
